{% extends 'content_base.html.twig' %}

{% block content_body %}
    {{ form_start(articleForm) }}
        <h1>Launch a new Article! 🚀</h1>

        {{ form_widget(articleForm) }}

        <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(articleForm) }}
{% endblock %}